sudo: false
language: node_js
addons:
  ssh_known_hosts: 47.115.60.210
node_js:
  - '10'
before_install:
  - openssl aes-256-cbc -K $encrypted_f217180e22ee_key -iv $encrypted_f217180e22ee_iv -in scripts/id_rsa.enc -out scripts/id_rsa -d
  - eval "$(ssh-agent -s)"
  - chmod 600 scripts/id_rsa
  - ssh-add scripts/id_rsa
  - npm i npminstall -g
install:
  - npminstall
script:
  - npm run ci
after_script:
  - ssh paxiong@47.115.60.210 'cd /opt && mkdir sssssss && echo 1111'